body {
    background-color: aqua;
    width: 1000px;
}

#mid {
    background-color: red;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 500PX;
    -webkit-transform: rotate(-45deg);
    -khtml-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#left {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    top: 60px;
    left: 460px;
}

#right {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background-color: red;
    top: 60px;
    left: 540px;
    z-index: -1;
}